---
applications:
  - name: test-rp-msa-$ENV
    routes:
      - route: test-rp-msa-$ENV.cloudapps.digital
      - route: test-rp-msa-$ENV.apps.internal
    memory: 1G
    buildpack: java_buildpack
    env:
      JBP_CONFIG_OPEN_JDK_JRE: '{ jre: { version: 11.+ } }'
      CONFIG_FILE: /app/msa/test-rp-msa.yml
      LOG_LEVEL: INFO
      TEST_RP_MSA_URL: https://test-rp-msa-$ENV.cloudapps.digital/matching-service/POST
      TEST_RP_MSA_ENTITY_ID: $TEST_RP_MSA_ENTITY_ID
      TEST_RP_ROUTE: http://test-rp-$ENV.apps.internal:8080
      METADATA_URL: $METADATA_URL
      SIGNIN_DOMAIN: $SIGNIN_DOMAIN
      METADATA_ENTITY_ID: $METADATA_ENTITY_ID
      TRUSTSTORE_PATH: /app/msa/truststores/$TRUSTSTORE_NAME
      TRUSTSTORE_PASSWORD: $TRUSTSTORE_PASSWORD
      EUROPEAN_IDENTITY_ENABLED: true
      ENCRYPTION_KEY: $ENCRYPTION_KEY
      ENCRYPTION_CERT: $ENCRYPTION_CERT
      SIGNING_KEY: $SIGNING_KEY
      SIGNING_CERT: $SIGNING_CERT
      ENVIRONMENT: $APP_ENV
    services:
      - logit-$ENV